<section>
    <button type="button" class="add-board btn btn-default">Add Board</button>
    <button type="button" class="add-thread btn btn-default">Add Thread</button>

    <div data-name="addBoard" data-component="add-board"></div>
    <div data-name="addThread" data-component="add-thread"></div>
</section>
<div data-bind="with: board">
    <section class="panel panel-default" data-bind="visible: boards().length > 0">
        <div class="panel-heading">
            Boards
        </div>
        <div class="panel-body">
            <div data-bind="foreach: boards">
                <div class="board">
                    <h2 data-bind="text: title"></h2>
                    <span data-bind="text: creator"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default" data-bind="visible: threads().length > 0">
        <div class="panel-heading">Threads</div>
        <div class="panel-body">
            <div data-bind="foreach: threads">
                <h2 data-bind="text: title"></h2>
                <span data-binds="text: creator"></span>
            </div>
        </div>
    </section>
</div>
